<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid Layout</title>
    <link rel="stylesheet" href="../styles/design.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="row">
        <img
          src="../images/6bcb1c4e-ba41-4b9f-ba80-1660e5f8504c.jpeg"
          alt="Image 1"
        />
        <img
          src="../images/82a0a2dd-5cbc-45af-a1cc-81fd123924aa.jpeg"
          alt="Image 2"
        />
        <img
          src="../images/606dbd20-bb8d-4c67-9268-4fe7ff9e0c58.jpeg"
          alt="Image 3"
        />
        <img
          src="../images/785d7411-d7b1-4933-b00b-74df4720b1d3.jpeg"
          alt="Image 4"
        />
        <img
          src="../images/a0dc9461-0b23-4b63-af64-607896083c89.jpeg"
          alt="Image 5"
        />
      </div>
      <div class="row">
        <img
          src="../images/high-resolution-beach-pier-photo-m.jpg"
          alt="Single Image"
        />
      </div>
      <div class="row">
        <img src="../images/thailand in january.jpeg" alt="Image 6" />
        <img src="../images/long.jpeg" alt="Image 7" />
        <img src="../images/thailand in january.jpeg" alt="Image 8" />
        <img src="../images/Beachin it.jpeg" alt="Image 9" />
        <img
          src="../images/Krabi, Thailand - the destination specialist guide….jpeg"
          alt="Image 10"
        />
      </div>
    </div>
  </body>
</html>
