<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout 1</title>
    <link rel="stylesheet" href="../styles/layout0.css" />
  </head>
  <body>
    <header class="row">
      <p>Header</p>
    </header>
    <main class="row">
      <nav><p>Nav</p></nav>
      <div class="right-column">
        <div class="top-row row">
          <article><p>Article</p></article>
          <section><p>Ads</p></section>
        </div>
        <footer class="row"><p>Footer</p></footer>
      </div>
    </main>
  </body>
</html>
