@font-face {
  font-family: primaryFont;
  src: url(fonts/LexendDeca.ttf);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: primaryFont;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: table;
}

.left-panel,
.right-panel {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.left-panel {
  display: grid;
  margin-inline-start: 0;
  width: inherit;
  background: #f8f8f8;
  padding: 40px 20px;
  position: relative;
}
.logo {
  margin-inline: 20px;
  margin-top: 20px;
  width: 120px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #5b7382;
  font-size: 0.85rem;
  background-color: #fff;
  padding: 20px;
  right: 0px;
}
.right-panel {
  width: 65%;
  background-image: url("https://i.natgeofe.com/n/72d25b07-5849-4d2a-9249-a48c5ed831c3/zebras-kilimanjaro-africa.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  filter: grayscale(100%);
}

.login-box {
  width: 350px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.login-header {
  background-color: #15b92f;
  position: relative;
  font-weight: 500;
}

.header-left {
  display: inline-block;
  background-color: #0f1937;
  padding: 0.5rem;
}
.header-right {
  display: inline-block;
  padding-top: 0.8rem;
  padding-left: 1rem;
  position: absolute;
}
.login-title {
  font-weight: bold;
  color: white;
}
.login-icon img {
  filter: brightness(0) invert(1);
  width: 24px;
  height: auto;
}

.login-box p {
  font-weight: 300;
  padding-bottom: 0px;
  padding: 2rem;
  font-size: 0.8rem;
}

form {
  padding: 2rem;
  padding-top: 0px;
  font-size: 0.95rem;
  font-weight: 300;
}
.col-25 {
  width: 25%;
  float: left;
  margin-top: 6px;
  font-size: 0.85rem;
}
.col-75 {
  width: 75%;
  float: left;
  margin-top: 6px;
}

label {
  font-size: 0.85rem;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #fffbe6;
  border-radius: 3px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
input:focus {
  outline: 1px solid #00a651;
}

.password-field {
  position: relative;
}

.password-field .toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-field .toggle svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: #5b7382;
}
button {
  float: right;
  margin-block: 20px;
  padding: 10px;
  background-color: #1c2541;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2a3559;
}
.bottom-line {
  margin-top: 3rem;
  padding: 1.3rem;
  background-color: #fafafe;
}
